@model IEnumerable<CSC.Models.Cliente>

<table class="table table-sm table-hover">
    <thead class="thead-dark rounded">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(itemModel => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(itemModel => item.Status)
                </td>

                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary float-right" data-toggle="modal" data-target="#NovoCliente">Novo</button>


<div class="modal fade" id="NovoCliente">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form asp-action="ConsultaCNPJ">
                    <div class="row">
                        <div class="col-12">
                            <label><b>Cnpj </b>:</label>
                            <input class="form-control" type="text" id="NovoCliente" name="_cnpj" />
                            <br />
                            <input id="btnNovoCliente" type="submit" value="Salvar" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>