@model ICollection<CSC.Models.DesempenhoAnalista>

@using System.Globalization;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DesempenhoAnalistaPDF</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        p {
            margin-bottom: 0;
        }
    </style>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="text-center">
            RELATORIO DE DESEMPENHO POR ANALISTA
            
        </div>
        <hr />
    </header>
    <div class="container-fluid">
        @foreach (var itemModel in Model)
        {
            <div class="row">
                <div class="col-12 text-center text-white bg-dark">
                    @itemModel.AnalistaId - @itemModel.Analista
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">

                    <p>Total de Atendimentos Abertos : @itemModel.TotalAtendimentoAberto</p>
                    <p>Total de Atendimentos Fechados : @(itemModel.TotalAtendimento - itemModel.TotalAtendimentoAberto - itemModel.TotalAtendimentoTransferido )</p>
                    <p>Total de Atendimentos Transferidos : @itemModel.TotalAtendimentoTransferido</p>
                    <p>Total de Atendimentos : @itemModel.TotalAtendimento</p>
                    <p>Media de Atendimentos por Dia : @itemModel.MediaAtendimento.ToString("N", CultureInfo.InvariantCulture)</p>
                </div>
                <div class="col-6">
                    <p>Chaves      : @itemModel.Chaves</p>
                    <p>Operacional : @itemModel.Operacional</p>
                    <p>Tecnico: @itemModel.Tecnico</p>
                    <p>Externo     : @itemModel.Externo</p>

                </div>
            </div>
        }
    </div>
</body>
</html>
