<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>CSC</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.standalone.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/util.css" />


    <!-- Plugins -->
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-datatables/DataTables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-datatables/Buttons/css/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-datatables/ColReorder/css/colReorder.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-datatables/FixedHeader/css/fixedHeader.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-datatables/RowReorder/css/rowReorder.bootstrap4.min.css" />

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/dist/css/style.css">
    <link rel="stylesheet" href="~/dist/css/components.css">

    <!-- Page Css-->
    @RenderSection("CSS", required: false);
</head>

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <div class="mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right float-right float-sm-right">

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user" id="btnUserLogonInfo">
                            <img alt="image" src="~/dist/img/avatar/avatar-1.png" width="30" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Olá, @ViewBag.user.NomeLogon</div>
                            <input type="hidden" id="userLogado" value="@ViewBag.user.FuncionarioId" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title" id="UserLogonInfo">Testando</div>
                            <a href="features-profile.html" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a href="features-activities.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i> Activities
                            </a>
                            <a href="features-settings.html" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a asp-controller="Home" asp-action="Logout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a asp-action="index">CSC</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a asp-action="index"></a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Geral</li>
                        <li class="nav-link"><a asp-controller="Home" asp-action="Index" class="nav-link"><i class="fas fa-chart-pie"></i><span class="text-center">Painel de Controle</span></a></li>
                        <li class="menu-header">Pessoas</li>
                        <li class="nav-link"><a class="nav-link" asp-controller="Funcionarios" asp-action="Index"><i class="fas fa-user"></i><span class="text-center">Funcionarios</span></a></li>
                        <li class="nav-link"><a class="nav-link" asp-controller="Usuarios" asp-action="Index"><i class="fas fa-user-tie"></i><span class="text-center">Usuarios</span></a></li>
                        <li class="nav-link"><a class="nav-link" asp-controller="Clientes" asp-action="Index"><i class="fas fa-address-card"></i><span class="text-center">Clientes</span></a></li>
                        <li class="menu-header">Atendimentos</li>
                        <li class="nav-link"><a class="nav-link" asp-controller="Atendimentos" asp-action="Index"><i class="fas fa-headphones"></i><span class="text-center">Atendimentos</span></a></li>
                        <li class="nav-link"><a class="nav-link" asp-controller="Tarefas" asp-action="Index"><i class="fas fa-tasks"></i><span class="text-center">Tarefas</span></a></li>
                        <li class="menu-header">Relatorios</li>
                        <li class="dropdown">
                            <a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fas fa-user"></i><span class="text-center">Analista</span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Relatorios" asp-action="DesempenhoAnalista" class="nav-link">Desempenho</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fas fa-address-card"></i><span class="text-center">Cliente</span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Relatorios" asp-action="DadosCliente" class="nav-link">Dados</a></li>
                                <li><a asp-controller="Relatorios" asp-action="AtendimentosCliente" class="nav-link">Atendimentos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link has-dropdown" href="#" data-toggle="dropdown"><i class="fas fa-tasks"></i><span class="text-center">Tarefa</span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Relatorio" asp-action="DetalhesTarefa" class="nav-link">Detalhes</a></li>
                            </ul>
                        </li>

                    </ul>
                </aside>
            </div>

            <!-- Main Content -->
            <div class="main-content">

                <section class="section">
                    <div class="section-header">
                        <h1>@ViewBag.Controller</h1>
                    </div>
                    <div class="section-body">
                        @RenderBody()
                    </div>
                </section>
                @RenderSection("Modals", required: false)
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright © 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
                </div>
                <div class="footer-right">
                    v2.0.0
                </div>
            </footer>
        </div>
    </div>

    <!-- General JS Scripts -->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/popper/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/tooltip/tooltip.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-nicescroll/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-mask/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/dist/js/stisla.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript" src="~/lib/moment/moment-with-locales.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- Plugins -->
    <script type="text/javascript" src="~/lib/jquery-datatables/JSZip/jszip.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/pdfmake/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/pdfmake/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/DataTables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/DataTables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/Buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/Buttons/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/Buttons/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/Buttons/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/ColReorder/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/FixedHeader/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-datatables/RowReorder/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" src="~/lib/SweetAlert/sweetalert2.min.js"></script>

    <!-- Template JS File -->
    <script type="text/javascript" src="~/dist/js/scripts.js"></script>
    <script type="text/javascript" src="~/dist/js/custom.js"></script>
    <script type="text/javascript" src="~/fonts/font-awesome/js/all.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>