@model IEnumerable<CSC.Models.User>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        </div>
        <table class="table table-sm table-hover">
            <thead class="thead-dark rounded">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeLogon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Admissao)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (User item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeLogon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Admissao)
                        </td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="float-right">
        <a asp-controller="Usuarios" asp-action="Create" class="btn btn-primary">Novo</a>
    </div>
</div>

